@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*
=================================================
========== Global Style
=================================================
*/

:root {
  --bg-primary: #000000;
  --bg-second: #18181b;
  --bg-navbar: #252528;
  --text-main: #f4f4f5;
  --text-paragraph: #a1a1aa;
  --color-link: #14b3a1;
  --section-hover: #1f1f22;
  --transition: 0.3s all ease;
}

::selection {
  background-color: var(--text-paragraph);
  color: var(--bg-navbar);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
  color: var(--text-main);
  font-family: "Roboto", serif;
  cursor: url("../src/icons/cursor-black.svg"), auto;
}

a {
  text-decoration: none;
  color: var(--text-main);
  /* cursor: pointer; */
}

li {
  list-style: none;
}
button {
  all: unset;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
  padding: 1rem;
  background-color: var(--bg-second);
}
@keyframes showup {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
/*
=================================================
========== Navigation Section Style
=================================================
*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  margin-top: 1rem;
}

.navbar .menu {
  display: flex;
  gap: 1.5rem;
  background-color: var(--bg-navbar);
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
}

.navbar .menu a {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  transition: var(--transition);
}
.navbar .menu a:hover {
  color: var(--color-link);
  background-color: #ffffff05;
}

#menu-icon,
#menu-icon-close {
  display: none;
}

@media (max-width: 930px) {
  .navbar {
    padding: 1rem 2rem;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .menu.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(28, 26, 26, 0.871);
    z-index: 1000;
    border-radius: 0;
    padding: 7rem 2rem 0;
    animation: showup 0.5s ease 0s 1 normal none;
  }

  #menu-icon-close.block {
    display: block;
    margin-left: auto;
    font-size: 1.5rem;
    color: var(--text-paragraph);
    position: fixed;
    top: 3rem;
    right: 4rem;
    font-size: 2rem;
    z-index: 2000;
    transition: 0.5s all ease;
  }
  #menu-icon-close.block:hover {
    color: rgb(202, 6, 6);
    transform: rotate(1turn);
    font-size: 2rem;
  }

  #menu-icon {
    display: block;
    margin-left: auto;
    font-size: 1.5rem;
    color: var(--text-paragraph);
    background-color: #a1a1aa29;
    padding: 0.7rem;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: var(--transition);
  }
  #menu-icon:hover {
    border: 1px solid var(--text-main);
    color: var(--text-main);
  }
  #menu-icon.hide {
    display: none;
  }
}

/*
=================================================
========== Hero Section Styling
=================================================
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  column-gap: 1rem;
  padding-block: clamp(3rem, 1.1818rem + 9.0909vw, 8rem);
  padding-inline: clamp(0.5rem, 0.3182rem + 0.9091vw, 1rem);
  justify-content: center;
  width: 90%;
  margin-inline: auto;
}

.hero .hero-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 1rem;
  margin-left: clamp(0.5rem, 0.3182rem + 0.9091vw, 1rem);
  box-shadow: 5px 3px 25px -1px rgba(151, 151, 151, 0.49);
  transition: var(--transition);
}
.hero .hero-img:hover {
  transform: scale(1.1) translateX(5px);
}
.hero .hero-text h1 {
  font-size: clamp(1.5rem, 0.9545rem + 2.7273vw, 3rem);
  text-transform: capitalize;
  padding-block: 1rem 2rem;
}
.hero .hero-text p {
  font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
  color: var(--text-paragraph);
  width: 80%;
  margin-bottom: 3rem;
  line-height: 1.7;
}
.hero .hero-social {
  display: flex;
  column-gap: clamp(1.5rem, 0.9545rem + 2.7273vw, 3rem);
  padding: clamp(0rem, -0.3636rem + 1.8182vw, 1rem)
    clamp(0.5rem, 0.1364rem + 1.8182vw, 1.5rem);
}
.hero .hero-social a {
  font-size: clamp(1.5rem, 1.1364rem + 1.8182vw, 2.5rem);
  color: var(--text-paragraph);
  transition: var(--transition);
}
.hero .hero-social a:hover {
  color: var(--text-main);
  transform: translateX(5px);
}

@media (max-width: 450px) {
  .hero,
  .hero .hero-text p {
    width: 100%;
  }
}

/*
=================================================
========== Filterable Section Styling
=================================================
*/

.filter {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding-block: clamp(0.5rem, 0.3182rem + 0.9091vw, 1rem);
  padding-inline: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
  font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
  background-color: var(--section-hover);
  color: var(--text-paragraph);
  border: 1px solid transparent;
  border-radius: clamp(0.3125rem, 0.1989rem + 0.5682vw, 0.625rem);
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.5s all ease;
}
.btn:hover {
  border: 1px solid var(--color-link);
  color: var(--text-main);
  box-shadow: 8px 7px 15px 0px rgba(67, 78, 128, 0.38);
}

.btn.active {
  border: 1px solid var(--color-link);
  color: var(--text-main);
  box-shadow: 1px 8px 17px -6px rgba(67, 78, 128, 1);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-block: clamp(0.5rem, 0.3182rem + 0.9091vw, 1rem);
  padding-inline: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border: 1px solid transparent;
  transition: 0.5s all ease;
}
.item:hover {
  border: 1px solid var(--color-link);
  box-shadow: -5px 8px 15px 0px rgba(67, 78, 128, 0.39),
    12px -4px 19px -1px rgba(66, 82, 110, 0.14);
}

.item .item-image {
  overflow: hidden;
  margin-bottom: 1rem;
  aspect-ratio: 4 / 3;
}
.item .item-image img {
  object-fit: cover;
  object-position: center;
  transition: 0.5s all ease;
}
.item:hover .item-image img {
  transform: scale(1.1);
}
.item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 1rem;
}
.item .item-content h3 {
  font-size: clamp(1.1rem, 0.9545rem + 0.7273vw, 1.5rem);
  padding-block: 0.5rem;
  text-transform: capitalize;
  transition: var(--transition);
}
.item .item-content h3:hover {
  color: var(--color-link);
}
.item .item-content p {
  font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
  line-height: 1.6;
  color: var(--text-paragraph);
  padding-block: 0.5rem;
  padding-right: clamp(0rem, -0.3636rem + 1.8182vw, 1rem);
}
.item .item-content .social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2rem;
  padding: 1rem 0.3rem;
}
.item .item-content .social-media a:first-child {
  margin-right: auto;
}
.item .item-content .social-media a {
  font-size: 1.5rem;
  color: var(--text-paragraph);
  transition: var(--transition);
  padding: 0.8rem;
  border-radius: 50%;
}
.item .item-content .social-media a:hover {
  color: var(--text-main);
  background-color: rgba(70, 64, 64, 0.393);
}

@media (max-width: 500px) {
  .items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
/*
=================================================
========== Footer Section Styling
=================================================
*/

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: clamp(1rem, 0.6364rem + 1.8182vw, 2rem);
  padding-inline: clamp(1rem, 0.2727rem + 3.6364vw, 3rem);
  margin-top: clamp(16px, -7.2727px + 7.2727vw, 80px);
}

footer #menu-footer {
  display: flex;
  gap: 1rem;
}

footer #menu-footer a {
  font-size: clamp(1rem, 0.9273rem + 0.3636vw, 1.2rem);
  color: var(--text-paragraph);
  text-transform: capitalize;
  transition: 0.5s all ease;
}
footer #menu-footer a:hover {
  color: var(--color-link);
}

footer .foot-copywrite {
  font-size: clamp(0.8rem, 0.7273rem + 0.3636vw, 1rem);
  color: var(--text-paragraph);
  text-transform: capitalize;
  width: 100%;
  text-align: end;
}
@media (max-width: 700px) {
  footer {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
  }
  footer .foot-copywrite {
    text-align: center;
  }
}

/*
=================================================
========== Categories Page Styling
=================================================
*/
.categories {
  padding-block: clamp(0rem, -1.0909rem + 5.4545vw, 3rem);
}

.categories .category-heading {
  text-align: center;
  padding-block: 3rem;
  text-transform: capitalize;
  font-size: clamp(1rem, 0.4545rem + 2.7273vw, 2.5rem);
}

.categories .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1.5rem;
  padding-block: clamp(0.5rem, 0.3182rem + 0.9091vw, 1rem);
  padding-inline: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
}

/*
=================================================
========== Single Page Styling
=================================================
*/

.single-page {
  padding-block: clamp(2rem, 0.9091rem + 5.4545vw, 5rem);
}
.back-link {
  margin-left: clamp(1rem, 0.2727rem + 3.6364vw, 3rem);
  transition: 0.5s all ease;
  display: inline-block;
}
.back-link::after {
  content: "Back To Home";
  color: var(--text-paragraph);
  padding: 1rem;
  font-size: 1.1rem;
  transition: 0.5s all ease;
  opacity: 0;
}
.back-link:hover::after {
  opacity: 1;
}

.back-link a {
  display: inline-block;
  font-size: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem);
  color: var(--text-paragraph);
  background-color: #a1a1aa29;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: var(--transition);
}

.back-link a .icon-arrow-right {
  transform: rotate(180deg);
}

.back-link a:hover {
  border: 1px solid var(--text-main);
  color: var(--text-main);
}

.single-section {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 0.6364rem + 1.8182vw, 2rem);
  border: 1px solid transparent;
  transition: 0.5s all ease;
  width: 80%;
  margin-inline: auto;
  padding-top: 2rem;
}

.single-section .section-image {
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
  transition: 0.5s all ease;
}
.single-section .section-image img {
  object-fit: cover;
  object-position: center;
  transition: 0.5s all ease;
}
.single-section .section-image:hover {
  border-radius: 10px;
  box-shadow: -5px 8px 15px 0px rgba(67, 78, 128, 0.39),
    12px -4px 19px -1px rgba(66, 82, 110, 0.14);
}
.single-section .section-image:hover img {
  transform: scale(1.1);
}

.single-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 1rem;
}
.single-section h3 {
  font-size: clamp(2rem, 1.2727rem + 3.6364vw, 4rem);
  padding-block: 0.5rem;
  text-transform: capitalize;
}

.single-section p {
  font-size: clamp(1rem, 0.7818rem + 1.0909vw, 1.6rem);
  line-height: 1.6;
  color: var(--text-paragraph);
  padding-block: 0.5rem;
}
.single-section .social-media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2rem;
  padding: 1rem 0.3rem;
}
.single-section .social-media a:first-child {
  margin-right: auto;
}
.single-section .social-media a {
  font-size: 1.5rem;
  color: var(--text-paragraph);
  transition: var(--transition);
  padding: 0.8rem;
  border-radius: 50%;
}
.single-section .social-media a:hover {
  color: var(--text-main);
  background-color: rgba(70, 64, 64, 0.393);
}

@media (max-width: 700px) {
  .single-section {
    width: 100%;
  }
}
